<mat-dialog-content>

  <div class="top-buttons">
    <div></div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-tab-group #tabs (selectedTabChange)="onTabChange()">

    <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon>map</mat-icon>
        Endereços Adicionados
      </ng-template>

      <mat-card appearance="outlined" class="custom-card" style="height: 370px;display: flex; align-items: center;">
        <mat-card-content style="width: 90%;">

          <div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" apperance="outline"
              *ngIf="dataSource.data.length != 0">

              <ng-container matColumnDef="cep">
                <th mat-header-cell *matHeaderCellDef> Código Postal </th>
                <td mat-cell *matCellDef="let element"> {{element.cep | cepPipe}} </td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
              </ng-container>

              <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef> Município </th>
                <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
              </ng-container>

              <ng-container matColumnDef="bairro">
                <th mat-header-cell *matHeaderCellDef> Bairro </th>
                <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
              </ng-container>

              <ng-container matColumnDef="logradouro">
                <th mat-header-cell *matHeaderCellDef> Logradouro </th>
                <td mat-cell *matCellDef="let element"> {{element.logradouro}} </td>
              </ng-container>

              <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Número </th>
                <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
              </ng-container>

              <ng-container matColumnDef="complemento">
                <th mat-header-cell *matHeaderCellDef> Complemento </th>
                <td mat-cell *matCellDef="let element"> {{element.complemento}} </td>
              </ng-container>

              <ng-container matColumnDef="acoes">

                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">

                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                    <mat-icon color="primary">more_vert</mat-icon>
                  </button>

                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="adress.length > 1" (click)="removeAdress(element)">
                      <mat-icon color="warn">delete</mat-icon>
                      <span>Remover</span>
                    </button>
                    <button mat-menu-item (click)="goToForm();editAdress(element)">
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                    </button>
                  </mat-menu>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

          </div>


          <h6 *ngIf="dataSource.data.length == 0 ">Nenhum Endereço Cadastrado</h6>
        </mat-card-content>
      </mat-card>

      <div class="bottom-buttons">
        <div style="width: 300px;"></div>
        <button mat-fab extended color="primary" type="button" (click)="save()">
          <mat-icon>check</mat-icon>
          Salvar Alterações
        </button>
      </div>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label (click)="editing = false">
        <mat-icon>home</mat-icon>
        Dados Endereco
      </ng-template>

      <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">

        <div class="custom-outer-row">
          <div class="custom-row">


            <mat-form-field>
              <mat-label>Tipo</mat-label>
              <input type="text" matInput formControlName="tipo" placeholder="Digite o tipo">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Código Postal</mat-label>
              <input type="text" matInput formControlName="cep" (input)="formatCep($event)"
                [errorStateMatcher]="matcher" placeholder="Digite o CEP">
              <mat-error *ngIf="formGroup.get('cep')?.hasError('required')">
                Código Postal é obrigatório.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Estado</mat-label>
              <input type="text" matInput formControlName="estado" placeholder="Digite o estado">
              <mat-error *ngIf="formGroup.get('cep')?.hasError('required')">
                Estado é obrigatório.
              </mat-error>
            </mat-form-field>

          </div>

          <div class="custom-row">
            <mat-form-field>
              <mat-label>Logradouro</mat-label>
              <input type="text" matInput formControlName="logradouro" placeholder="Digite o Logradouro">
              <mat-error *ngIf="formGroup.get('logradouro')?.hasError('required')">
                Logradouro é obrigatório.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Município</mat-label>
              <input type="text" matInput formControlName="municipio" placeholder="Digite o Município">
              <mat-error *ngIf="formGroup.get('municipio')?.hasError('required')">
                Município é obrigatório.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Bairro</mat-label>
              <input type="text" matInput formControlName="bairro" placeholder="Digite o Bairro">
              <mat-error *ngIf="formGroup.get('bairro')?.hasError('required')">
                Bairro é obrigatório.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="custom-row">
            <mat-form-field>
              <mat-label>Número</mat-label>
              <input type="text" matInput formControlName="numero" placeholder="Digite o número">
              <mat-error *ngIf="formGroup.get('numero')?.hasError('required')">
                Número é obrigatório.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Complemento</mat-label>
              <input type="text" matInput formControlName="complemento" placeholder="Digite o Complemento">
            </mat-form-field>
          </div>



        </div>

        <div class="bottom-buttons">
          <button mat-fab extended style="color:rgb(103, 118, 255); background-color: rgb(241, 241, 241);"
            (click)="goToList()" type="button">
            Voltar
            <mat-icon>arrow_backwards</mat-icon>
          </button>
          <button mat-fab extended color="primary" type="submit">
            <mat-icon>add</mat-icon>
            Salvar
          </button>
        </div>

      </form>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>
